::ng-deep {
  mat-form-field {
    .mat-form-field-flex {
      background-color: white !important;
      padding-top: 0px !important;

      .mat-select-arrow-wrapper {
        position: relative;
        top: 10px;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}